body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.hero {
  background-color: #1f2937;
  padding: 0 160px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 5px 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-container {
  display: flex;
  padding: 80px 0;
  gap: 15px;
  flex: 1;
}

.hero-content,
.hero-container img {
  width: 0;
  flex: 1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-content button {  
  width: fit-content;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding: 5px 24px;
  border: 3px solid #3882f6;
  border-radius: 5px;
}

.info {
  padding-bottom: 80px;
  text-align: center;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 30px 0;
}

.items {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.item,
.item img {
  width: 150px;
}

.item img {
  border: 3px solid #3882f6;
  border-radius: 15px;
  margin-bottom: 5px;
}

.item-text {
  font-weight: 300;
}

.quote {
  background-color: #e5e7eb;
  padding: 100px 230px 80px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 15px;
  padding-left: 15px;
}

.quote-author {
  font-weight: bold;
  text-align: right;
  padding-right: 25px;
  font-size: large;
  color: #1f2937;
}

.signup {
  background-color: #3882f6;
  margin: 80px 160px;
  padding: 40px 80px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-title {
  color: #f9faf8;
  font-weight: bold;
  font-size: large;
}

.signup-text {
  color: #e5e7eb;  
  font-size: 95%;
}

.signup-call {
  padding-left: 20px;
}

.signup button {
  height: 100%;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding: 5px 24px;
  border: 2px solid #f9faf8;
  border-radius: 5px;
}